#background {
  width: 100%;
  height: 100%;
  fill: black;
}

line.hr {
  stroke-width: 1;
  stroke-linecap: round;
  fill: white;
}

#flag {
  x: 0;
  y: 60; /* 55 + 5 */
  height: 201; /* 211 - (5*2) */
  width: 100%;
}

#icon {
  x: 16;
  y: 125;
  height:70;
  width:70;
}

#date {
  fill: white;
  x: 168;
  y: 45;
  text-transform: uppercase;
}

#timeBG {
  y: 124;
  height: 72;
  fill: black;
}

#time {
  font-weight: light;
  font-size: 92;
  x: 100%-4;
  y: 191;
  height: 71;
  text-anchor: end;
}

#hrmGroup {
  fill: crimson;
}

#hrmIcon {
  x: 0;
  y: 2;
  height: 18;
  width: 18;
}

#hrm {
  x: 22;
  y: 19;
}

#statGroup {
  fill: white;
}

#statIcon {
  y: -16;
  height: 18;
  width: 18;
}

#stat {
  x: 10;
  y: 1;
}

#batteryGroup { fill: #00FF00; }
#batteryGroup.high { fill: greenyellow; }
#batteryGroup.mid { fill: yellow; }
#batteryGroup.low { fill: darkorange; }
#batteryGroup.critical { fill: red; }

#batteryIcon {
  x: 0;
  y: 2;
  height: 18;
  width: 18;
  href: "icons/Battery.png";
}

#batteryGroup.critical #batteryIcon {
  href: "icons/BatteryCritical.png";
}

#batteryGroup.charging #batteryIcon {
  href: "icons/BatteryCharging.png";
}

#batteryGroup.critical.charging #batteryIcon {
  href: "icons/BatteryCharging.png";
}

#battery {
  x: 18;
  y: 19;
}

/* Color Classes */
.bisque { fill: bisque; }
.blue { fill: blue; }
.chocolate { fill: chocolate; }
.darkblue { fill: darkblue; }
.darkgray { fill: darkgray; }
.darkmagenta { fill: darkmagenta; }
.darkorange { fill: darkorange; }
.darkviolet { fill: darkviolet; }
.deepskyblue { fill: deepskyblue; }
.lightskyblue { fill: lightskyblue; }
.dodgerblue { fill: dodgerblue; }
.forestgreen { fill: forestgreen; }
.gold { fill: gold; }
.green { fill: green; }
.greenyellow { fill: greenyellow; }
.hotpink { fill: hotpink; }
.indianred { fill: indianred; }
.indigo { fill: indigo; }
.lightgray { fill: lightgray; }
.lightpink { fill: lightpink; }
.limegreen { fill: limegreen; }
.magenta { fill: magenta; }
.maroon { fill: maroon; }
.mediumblue { fill: mediumblue; }
.mediumorchid { fill: mediumorchid; }
.mediumturquoise { fill: mediumturquoise; }
.mediumvioletred { fill: mediumvioletred; }
.orange { fill: orange; }
.orangered { fill: orangered; }
.orchid { fill: orchid; }
.plum { fill: plum; }
.purple { fill: purple; }
.red { fill: red; }
.saddlebrown { fill: saddlebrown; }
.violet { fill: violet; }
.white { fill: white; }
.yellow { fill: yellow; }

/* Custom Colors */
.carnation { fill: #F778A1; }
.lavender { fill: #A74AC7; }
.black { fill: #1C1C1C; }