#background {
  width: 100%;
  height: 100%;
  fill: black;
}

line.hr {
  stroke-width: 1;
  stroke-linecap: round;
  fill: white;
}

#flag {
  x: 0;
  y: 60; /* 55 + 5 */
  height: 201; /* 211 - (5*2) */
  width: 100%;
}

#icon {
  x: 16;
  y: 125;
  height:70;
  width:70;
}

#date {
  fill: white;
  x: 168;
  y: 45;
  text-transform: uppercase;
}

#timeBG {
  x: 114;
  y: 126;
  height: 70;
  width: 216;
  fill: black;
  opacity: 0.25;
}

#time {
  fill:white; /* TODO: configurable */
  font-weight: light;
  font-size: 92;
  x:100%-4;
  y:192;
  text-anchor: end;
}

#hrmGroup {
  fill: crimson;
}

#hrmIcon {
  x: 0;
  y: 2;
  height: 18;
  width: 18;
}

#hrm {
  x: 22;
  y: 19;
}

#statGroup {
  fill: white;
}

#statIcon {
  y: -16;
  height: 18;
  width: 18;
}

#stat {
  x: 10;
  y: 1;
}

#batteryGroup {
  fill: #00FF00;
}

#batteryGroup.mid {
  fill: gold;
}

#batteryGroup.low {
  fill: darkorange;
}

#batteryGroup.critical {
  fill: red;
}

#batteryIcon {
  x: 0;
  y: 2;
  height: 18;
  width: 18;
  href: "icons/Battery.png";
}

#batteryGroup.critical #batteryIcon {
  href: "icons/BatteryCritical.png";
}

#batteryGroup.charging #batteryIcon {
  href: "icons/BatteryCharging.png";
}

#batteryGroup.critical.charging #batteryIcon {
  href: "icons/BatteryCharging.png";
}

#battery {
  x: 18;
  y: 19;
}